.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
#container-header{
    border-bottom: 1px solid white;
}
#btn-mobile{
    display: none;
}
#header{
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
#menu{
    display: flex;
    gap: 1.4rem;
}
#menu a {
    color: white;
    letter-spacing: 0.5px;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    padding: 0 10px;
    position: relative;
}

#menu a:after {
    content: '';
    width: 0;
    height: 2px;
    left: 0;
    bottom: -5px;
    background-color: white;
    position: absolute;
    transition: 0.3s;
}
#menu a:hover:after {
    width: 100%;
}
@media (max-width: 600px){
    #btn-mobile{
        display: flex;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        font-weight: 600;
    }
    #hamburger{
        width: 20px;
        border-top: 2px solid white;
    }
    #hamburger::before{
        content: '';
        display: block;
        position: relative;
        width: 20px;
        height: 2px;
        margin: 5px 0;
        background-color: white;
        transition: .3s;
    }
    #hamburger::after{
        content: '';
        display: block;
        position: relative;
        width: 20px;
        height: 2px;
        margin: 5px 0;
        background-color: white;
        transition: .3s;
    }
    #menu{
        display: block;
        z-index: 1000;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0;
        left: -100%;
        height: calc(400px - 70px);
        background-color: #12253f;
        transition: .3s;
        gap: 0rem;
        overflow: hidden;
    }
    #menu a{
        display: block;
        width: 100%;
        padding: 20px 10px;
    }
    #nav.active #menu{
        left: 0;
    }
    #nav.active #hamburger{
        border-top-color: transparent;
    }
    #nav.active #hamburger::before{
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
        
    }
}