.menu{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: #12253f;
}
.menu ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu li{
    padding: 20px 0;
}
.menu a {
    position: relative;
    color: rgb(211, 207, 207);
    letter-spacing: 0.5px;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    padding: 0 10px;
    cursor: pointer;
}
.menu a:after{
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -8px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: all ease-in-out 0.3s;
    transform: scale(0, 1);
}
#selecionado a:after{
    transform: scale(1, 1);
}
#selecionado a{
    color: white;
}
.menu-icon{
    width: 32px;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1;
}
.header-bg{
    position: fixed;
    background-color: #12253f;
    top: 0;
    right: 0;
    left: 0;
    transition: all ease-in-out 0.4s;
    z-index: 1;
}
.header{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-list{
    display: flex;
    padding: 10px 0px;
}
.header-list li{
    padding: 10px 20px;
    color: white;
    cursor: pointer;
}
.header-list a {
    position: relative;
    color: rgb(211, 207, 207);
    letter-spacing: 0.5px;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    padding: 0 10px;
}
.header-list a:after{
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -8px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: all ease-in-out 0.2s;
    transform: scale(0, 1);
}
.header-list a:hover{
    color: white;
}
.header-list a:hover:after{
    transform: scale(1, 1);
}
#selecionado a:after{
    transform: scale(1, 1);
}
#selecionado a{
    color: white;
}
.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px 20px;
    cursor: pointer;
}