.introduction{
    background-image: url('https://wallpapercave.com/wp/wp1874171.jpg');
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.introduction h1{
    color: white;
    font-weight: bold;
    font-size: 3em;
    padding: 20px 30px;
    text-align: center;
    font-family: sans-serif;
    background: rgba(0, 0, 0, 0.671);
    border-radius: 5px 5px 0px 0px;
}
.introduction p{
    color: white;
    letter-spacing: 1px;
    margin: 10px;
    max-width: 600px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
    padding: 20px;
    background: rgba(0, 0, 0, 0.582);
    border-radius: 5px;
}
.our-bg{
    background-color: rgb(200, 200, 200);
}
.our-bg h1{
    text-align: center;
    padding: 15px 0;
    font-size: 2em;
    font-weight: bolder;
    letter-spacing: 1px;
    font-family: sans-serif;
}
.our-plates{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.our-plates span{
    text-align: center;
    cursor: pointer;
    font-size: 4em;
    font-weight: bold;
}
.plate{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(233, 218, 12);
    max-width: 700px;
    margin: 20px auto;
    padding: 20px 30px;
    border-radius: 10px;
    
}
.plate img{
    width: 220px;
}
.plate h2{
    text-align: center;
    font-weight: bolder;
    letter-spacing: 0.5px;
    font-size: 1.5em;
    padding: 10px 0;
    font-family: sans-serif;
}
.plate p {
    text-align: center;
    font-weight: bolder;
    letter-spacing: 0.5px;
    font-size: 1em;
    padding: 10px 0;
    font-family: sans-serif;
}
.balls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ball{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    margin: 0px 8px 10px 0;
}
#x{
    background-color: black;
}